body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #222222;
    color: #DDDDDD;
    border-right: 15px solid crimson;
    border-left: 15px solid crimson;
    border-radius: 30px;
    animation-name: colorchange-borders;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    

        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    animation-name: zoom, colorchange-borders;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: alternate;
    
}

@keyframes colorchange-borders {
    from {border-right: 15px solid blue; border-left: 15px solid blue}
    to {border-right: 15px solid crimson; border-left: 15px solid crimson}
}

@keyframes zoom {
    from {transform: scale(1) translate(0px)}
    to {transform: scale(7) translate(100px, -50px)}
    
}


/* .border-blue {
    border: 1px dotted blue;
} */

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
